{% extends '../layouts/comp/base.html' %}
{% load static %}

{% block title %}
予約一覧
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\comp\style_bo_reservation_list.css' %}">
{% endblock %}

{% block contents %}
<main>
    <div class="main">
        <h1>２日間予約</h1>
        <div class = 'list_all'>
        <a href ="{% url 'comp:reservation_list_all' %}">予約一覧</a>
        </div>
        <div class="list_area">
            <table class="list">
                <tr>
                    <th>代表者名</th>
                    <th>日付</th>
                    <th>時間</th>
                    <th>人数</th>
                    <th>{{ menu1 }}</th>
                    <th>{{ menu2 }}</th>
                    <th>{{ menu3 }}</th>
                    <th>{{ menu4 }}</th>

                </tr>
                {% for re in reservation %}
                
                <tr>
                    
                    <td>{{ re.reservation_name }}</td>
                    <td>{{ re.reservation_day }}</td>
                    <td>{{ re.reservation_hour }}</td>
                    <td>{{ re.nop }}</td>
                    <td>{{ re.menu1 }}</td>
                    <td>{{ re.menu2 }}</td>
                    <td>{{ re.menu3 }}</td>
                    <td>{{ re.menu4 }}</td>
                   
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</main>
{% endblock %}

</body>

</html>